<h1><%= @recipe.name %></h1>
<%= image_tag @recipe.image %>
<%= link_to "Go to Recipe", @recipe.link %>
<h3>Ingredients</h3>
<% @recipe.ingredients.each do |ingredient| %>
    <ul>
        <li>
            <%= ingredient %>
        </li>
    </ul>
<% end %>

<h3>Dietary Info</h3>
<% @recipe.health_labels.each do |label| %>
    <ul>
        <li>
            <%= label %>
        </li>
    </ul>
<% end %>
